<!DOCTYPE html>
<html>
<head>
    <title>Room List</title>
</head>
<body>
    <h1>Room List</h1>
    <ul>
        {% for room in rooms %}
            <li>
                <a href="{% url 'rooms:room_detail' room.pk %}">{{ room.room_number }}</a>
                <a href="{% url 'rooms:room_update' room.pk %}">Edit</a>
                <a href="{% url 'rooms:room_delete' room.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'rooms:room_create' %}">Add New Room</a>

</body>
</html>
